@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Benficiarios";


    
    var db = Database.Open("OracleConnectionString");

    var query = "SELECT benef_facta.NUM_POLIZA, benef_facta.RUT_BENEFICIARIO, benef_facta.NUM_SINIESTRO, benef_facta_estado.NAME_ESTADO FROM benef_facta, benef_facta_estado WHERE benef_facta.FK_ID_ESTADO = benef_facta_estado.ID_ESTADO";
    
    var data = db.Query(query);

    var count = 0;
    
    var estados = "Select ID_ESTADO, NAME_ESTADO from benef_facta_estado";

    var selectedData = db.Query(estados);

    var variable = @Request["check"];

    var SQL = "";
}

<style type="text/css">
    .classname {
	    -moz-box-shadow:inset 0px 7px 15px 0px #ffffff;
	    -webkit-box-shadow:inset 0px 7px 15px 0px #ffffff;
	    box-shadow:inset 0px 7px 15px 0px #ffffff;
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	    background-color:#ededed;
	    -webkit-border-top-left-radius:42px;
	    -moz-border-radius-topleft:42px;
	    border-top-left-radius:42px;
	    -webkit-border-top-right-radius:42px;
	    -moz-border-radius-topright:42px;
	    border-top-right-radius:42px;
	    -webkit-border-bottom-right-radius:42px;
	    -moz-border-radius-bottomright:42px;
	    border-bottom-right-radius:42px;
	    -webkit-border-bottom-left-radius:42px;
	    -moz-border-radius-bottomleft:42px;
	    border-bottom-left-radius:42px;
	    text-indent:0px;
	    border:2px solid #D1CECE;
	    display:inline-block;
	    color:#777777;
	    margin-top:15px;
	    font-family:Arial;
	    font-size:12px;
	    font-weight:bold;
	    font-style:normal;
	    height:30px;
	    line-height:24px;
	    width:144px;
	    text-decoration:none;
	    text-align:center;
	    text-shadow:0px 0px 0px #ffffff;
    }
    .classname:hover {
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	    background-color:#dfdfdf;
    }.classname:active {
	    position:relative;
	    top:1px;
    }

    table { 
   
      max-width:100%;
      border-collapse: collapse;
      font-size:13px;
      overflow:auto;
      font-family:Arial, Helvetica, sans-serif;
      margin:0px auto;
  
    }
    Zebra striping
    tr:nth-of-type(odd) { 
      background: #eee; 
    }
    th { 
      background: #7ac0da; 
      color: white; 
      font-weight: bold; 
    }
    td, th { 
      padding: 5px; 
      border: 1px solid #ccc; 
      text-align: left; 
    }

    @@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

	    Force table to not be like tables anymore
	    table, thead, tbody, th, td, tr { 
		    display: block; 
	    }
	
	    Hide table headers (but not display: none;, for accessibility)
	    thead tr { 
		    position: absolute;
		    top: -9999px;
		    left: -9999px;
	    }
	
	    tr { border: 1px solid #ccc; }
	
	    td { 
		    Behave  like a "row"
		    border: none;
		    border-bottom: 1px solid #eee; 
		    position: relative;
		    padding-left: 50%; 
	    }
	
	    td:before { 
		    Now like a table header
		    position: absolute;
		    Top/left values mimic padding
		    top: 6px;
		    left: 6px;
		    width: 45%; 
		    padding-right: 10px; 
		    white-space: nowrap;
	    }
    }
</style>

@section featured {
    <section class="featured">
        <form action="" method="post">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Page.Title</h1>
                    <h2>Estados</h2>
                </hgroup>
                <div style='text-align: center;max-width:100%;width:100%;border-radius:10px;'>
                    <br><br><br>
                    <table class="centerTable">
                        <thead>
                            <tr>
                                <th><b>LINEA</b></th>
                                <th><b>No. DE POLIZA</b></th>
                                <th><b>RUT BENEFICIARIO</b></th>
                                <th><b>No. DE SINIESTRO</b></th>
                                <th><b>ESTADO</b></th>
                                <th><b>check</b></th>
                                <th><b>check</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in data)
                            {
                                var variable1 = @row.NUM_POLIZA;
                                var variable2 = @row.RUT_BENEFICIARIO;
                                var variable3 = @row.NUM_SINIESTRO;
                                <tr>
                                    <td>@count</td>
                                    <td>@row.NUM_POLIZA</td>
                                    <td>@row.RUT_BENEFICIARIO</td>
                                    <td>@row.NUM_SINIESTRO</td>
                                    <td>@row.NAME_ESTADO</td>
                                    <td><input type="checkbox" name="check" class="check" value="@{
                                            variable1 = @row.NUM_POLIZA;
                                            variable2 = @row.RUT_BENEFICIARIO;
                                            variable3 = @row.NUM_SINIESTRO;
                                            SQL=@Request["myList"];
                                         }"/></td>
                                    <td>@db.Execute("update benef_facta set benef_facta.fk_id_estado=@SQL where benef_facta.num_poliza=@row.NUM_POLIZA and benef_facta.rut_beneficiario='@row.RUT_BENEFICIARIO' and benef_facta.num_siniestro=@row.NUM_SINIESTRO")
                                        @db.Execute("commit")
                                          </td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </section>
}
    <br>
    <br>
        Check value: @Request["check"]
            @SQL


    <div align="right">
        <select name="mylist">
            @foreach(var combo in selectedData)
            {
                <option value="@combo.ID_ESTADO">@combo.NAME_ESTADO</option>
            }
        </select>
        <input type="submit" value="Actualizar" name="submit" />
    </div>
</form>
